In [27]:
import requests
import pandas as pd
import re
url2 = "http://ets.aeso.ca/ets_web/ip/Market/Reports/DailyOutageReportServlet?contentType=html"
df2 = pd.read_html(url2)
df2 = df2[1]
df2 = df2.drop(df2.index [ [ 0,1,2,3 ] ])
df2.columns = ['Date', 'Coal', 'Gas', 'DualFuel','Hydro','Wind','Solar','Energy','Other','Load']
df2 = df2.set_index('Date')

In [28]:
df2

            Coal   Gas DualFuel Hydro Wind Solar Energy Other Load
Date
01-Oct-2022  470  2310        0   130  420   100      0   140    0
02-Oct-2022  470  2450        0   130  420   100      0   140    0
03-Oct-2022  470  2430        0   130  420    90      0   140    0
04-Oct-2022  470  2460        0   130  430    90      0   130    0
05-Oct-2022  470  2340        0   110  470   220      0   160    0
...          ...   ...      ...   ...  ...   ...    ...   ...  ...
27-Jan-2023    0   450        0    40    0     0      0    50    0
28-Jan-2023    0   450        0    40    0     0      0    50    0
29-Jan-2023    0   450        0    40    0     0      0    50    0
30-Jan-2023    0   450        0    40    0     0      0    50    0
31-Jan-2023    0   450        0    40    0     0      0    50    0

[123 rows x 9 columns]

In [36]:
url3 = 'http://ets.aeso.ca/ets_web/ip/Market/Reports/MonthlyOutageForecastReportServlet?contentType=html'
df3 = pd.read_html(url3)
df3 = df3[2]
df3 = df3.set_index('Month')

In [37]:

df3

,Coal,Gas,Dual Fuel,Hydro,Wind,Solar,Energy Storage,Biomass and Other
Month,,,,,,,,
Nov 2022,50,1080,0,90,20,30,0,50
Dec 2022,0,780,0,60,0,10,0,40
Jan 2023,0,520,0,40,0,0,0,50
Feb 2023,0,460,0,80,0,0,0,50
Mar 2023,0,860,0,100,0,0,0,50
Apr 2023,0,960,0,120,0,0,0,40
May 2023,0,1250,0,30,10,0,0,30
Jun 2023,0,740,0,0,10,0,0,30
Jul 2023,0,570,0,0,0,0,0,30
Aug 2023,0,570,0,80,0,0,0,30
Sep 2023,0,890,0,160,0,0,0,50
Oct 2023,0,600,0,170,0,0,0,30
Nov 2023,210,470,0,40,0,0,0,30
Dec 2023,630,450,0,20,0,0,0,30
Jan 2024,820,190,0,0,0,0,0,30
Feb 2024,820,140,0,0,0,0,0,30
Mar 2024,820,200,0,0,0,0,0,30
Apr 2024,820,1320,0,0,0,0,0,30
May 2024,820,520,0,0,0,0,0,30
Jun 2024,820,180,0,0,10,0,0,30
Jul 2024,820,190,0,0,10,0,0,30
Aug 2024,820,180,0,0,0,0,0,30
Sep 2024,820,300,0,0,0,0,0,30
Oct 2024,820,520,0,0,0,0,0,30