In [23]:
#-------------------------------------------------------------------------------
# Name:        checkSQLServer
# Purpose:      Python startup script for FME Workbench
#
# Author:      mgiesbrecht
#
# Created:     09/08/2019
# Sources:      https://github.com/mkleehammer/pyodbc/issues/106,https://datatofish.com/how-to-connect-python-to-sql-server-using-pyodbc/
#-------------------------------------------------------------------------------

import pyodbc
import pandas as pd
import numpy as np
#conn = pyodbc.connect('Driver={SQL Server};'
#                      'Server=SQLDEVCGY127;'
#                      'Database=ArcGISDev;'
#                      'Trusted_Connection=yes;')

SQL_ATTR_CONNECTION_TIMEOUT = 113
#FHMines SQL Server DB
#sqlStatement = "SELECT top (100) [ID] [Origin], [Destination], [Grade], [Material], [HaulDist], [HaulDistCalc], [HaulPath].STAsText() AS HaulPathStr FROM [FHMineSystems].[hist].[ss_gpspath] AS HD WHERE HD.Loaded = 1"
connection_string ='Driver={SQL Server};Server=tcp:*******database.database.windows.net,1433;Database=*****************;UID=************;PWD=*****************'

#connection_string ='Driver={SQL Server};Server=SQLPRDCGY157;Database=MDR;UID=*********;PWD=****************'
login_timeout = 1
connection_timeout = 30
conn = pyodbc.connect(connection_string, timeout=login_timeout, attrs_before={SQL_ATTR_CONNECTION_TIMEOUT : connection_timeout})
cursor = conn.cursor()
    #cursor.execute(sqlStatement)
    #for row in cursor:
    #    #print(row)
    #    print("SQL Execution successful")
#except pyodbc.Error as ex:
#        sqlstate = ex.args[1]
#        print(sqlstate)

In [ ]:
print(conn)

In [25]:
result = cursor.execute('SELECT * FROM dbo.AzureBlobStorageFile ORDER BY dateModified DESC')
rows = result.fetchall()
cols = []
for i,_ in enumerate(result.description):
    cols.append(result.description[i][0])

df = pd.DataFrame(np.array(rows), columns=cols)

In [26]:
print(df)

        BeginDate     EndDate Trades TotalVolume  Open  High   Low    Settle  \
0      2022-09-24  2022-09-24      0           0  None  None  None     160.0
1      2022-09-25  2022-09-25      0           0  None  None  None     125.0
2      2022-09-26  2022-09-26      0           0  None  None  None     300.0
3      2022-09-27  2022-09-27      0           0  None  None  None     300.0
4      2022-09-28  2022-09-28      0           0  None  None  None     300.0
...           ...         ...    ...         ...   ...   ...   ...       ...
36240  2031-05-01  2031-05-31      0           0  None  None  None      68.5
36241  2031-06-01  2031-06-30      0           0  None  None  None      68.5
36242  2031-07-01  2031-07-31      0           0  None  None  None      68.5
36243  2031-08-01  2031-08-31      0           0  None  None  None      68.5
36244  2022-09-01  2022-09-30      0           0  None  None  None  154.5243

         netOI DateModified
0            0   2022-09-26
1            0   2022-09-26
2            0   2022-09-26
3            0   2022-09-26
4            0   2022-09-26
...        ...          ...
36240        0   2022-09-08
36241        0   2022-09-08
36242        0   2022-09-08
36243        0   2022-09-08
36244  1203120   2022-09-08

[36245 rows x 10 columns]